{% extends '::base_form.html.twig' %}

{% form_theme form 'bootstrap_3_layout.html.twig' %}

{% block container %}
    <h1>Editing {{ participant.name }}</h1>
    {{ form(form) }}
{% endblock container %}
