{% extends '::base.html.twig' %}

{% block container %}
    <h1>Participants</h1>
    <a href="{{ path('admin_participants_new') }}">New</a>
    <table class="table">
        {% for participant in participants %}
            <tr>
                <td>
                    <img src="{{ vich_uploader_asset(participant, 'avatarFile')| imagine_filter('participant_avatar_thumb') }}" />
                </td>
                <td>
                    {{ participant.name }}
                </td>
                <td>
                    <a href="{{ path('admin_participants_edit', {'id': participant.id}) }}">Edit</a>
                </td>
                <td>
                    <a href="{{ path('admin_participants_delete', {'id': participant.id}) }}">Delete</a>
                </td>
            </tr>
        {% endfor %}
    </table>
{% endblock container %}
