{% extends '::base.html.twig' %}

{% block container %}
    <h1>Vacation slots</h1>
    <a href="{{ path('admin_vacation_slots_new') }}">New</a>
    <table class="table">
        {% for slot in slots %}
            <tr>
                <td>
                    {{ slot.participant.name }}
                </td>
                <td>
                    {{ slot.at|date('d/m/Y') }}
                </td>
                <td>
                    <a href="{{ path('admin_vacation_slots_delete', {'id': slot.id}) }}">Delete</a>
                </td>
            </tr>
        {% endfor %}
    </table>
{% endblock container %}
